<div class="container mt-4 pt-4">
    <h1>PRESENTATION DE LA MAIRIE</h1>
    <hr class="deep-orange accent-2 mb-2 mt-0 d-inline-block mx-auto" style="width: 100%;">
</div>


<div class="container card mt-4" style="width: 50%;">
    <img class="card-img mt-3" src="/Mairie.jpg" alt="Card image cap">
    <div class="card-body">
            <h1>L’Hôtel de Ville de Marseille</h1>
            <hr class="deep-orange accent-2 mb-2 mt-0 d-inline-block mx-auto" style="width: 100%;">
            <p>L’Hôtel de Ville de Marseille est l’un des monuments les plus anciens et des plus remarquables de la Ville.
            Siège du "Gouvernement Municipal", il est situé aux pieds du quartier de la fondation de Marseille et au cœur
            du Vieux-Port, bien visible de la colline de Notre-Dame de la Garde.
            
            Les Marseillais et les touristes n’ont que peu d’occasions de le visiter et je suis heureux que les nouvelles
            technologies de l’information me donnent l’occasion de vous faire découvrir l’histoire, l’architecture et les décors
            de la "Maison Commune des Marseillais".
            
            Je vous invite d’ailleurs personnellement à découvrir le bureau du Maire et les trésors qu’il renferme !
            
            Je suis sûr que les internautes de Marseille et d’ailleurs trouveront beaucoup d’intérêt à la visite « interactive »
            de ce lieu qui me tient tant à cœur.</p>
            
            Jean-Claude GAUDIN
            Maire de Marseille
            Vice-Président honoraire du Sénat
    </div>
</div>