
{{ partial "head.html" . }}
{{ partial "header.html" . }}

{{ partial "hallTown.html" }}

<div class="container mt-4 pt-4">
    <h1>EMPLOYEE</h1>
    <hr class="deep-orange accent-2 mb-2 mt-0 d-inline-block mx-auto" style="width: 100%;">
</div>

    <div class="card-deck justify-content-center" style="padding: 1%">
        {{ range .Data.Pages }} <!-- Effectue une boucle sur TOUTES les pages du site-->
            {{ if eq .Type "conseil-municipal" }}
        <div class="row col-sm-4">
            <div class="card">
                <img src="{{ .Params.photo }}" class="card-img-top" alt="ok bro">
                <h1 class="text-center mt-4" > {{ .Params.FirstNames }} {{ .Params.LastName }} </h1>
                <h3 class="text-center mt-4 mb-4"> {{ .Params.Role }} </h3>
            </div>
        </div>
        {{ end }}
    {{ end }}

    </div>


{{ partial "footer.html" . }}