
{{ partial "head.html" . }}
{{ partial "header.html" . }}

<h1 class="font-weight-bold text-dark text-center mt-4"> Association {{ .Title }} </h1>
<h3 class="font-weight-bold text-muted text-center mt-4">Domaine : {{ .Params.Domain }}</h3>

<div class="card-deck justify-content-center" style="padding: 1%">
    <div class="row col-sm-4">
        <div class="card">
            <img src="{{ .Params.photo }}" class="card-img-top" alt="ok bro">
        </div>
    </div>
</div>
<p class="text-center mt-4">Addresse : {{ .Params.Address }}</p>
<p class="text-center mt-4"> {{ .Params.Description }}</p>
<div class="text-center mb-5 mt-3">
    {{ .Content }}
</div>
{{ partial "footer.html" . }}